body {
    background-color: #212121 !important;
    color: white !important;
}

form >label{
    margin:.5rem 0 ;
}

.alert{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-options{
    display: flex;
    justify-content: space-between;
    text-align: center;
}